/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050e14;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6aa23;
  border-radius: 10px;
}
